.links{
  ul{
    list-style: none;
    display: flex;
    align-items: center;

    a{
      text-decoration: none;
      color: #e600ac;
      margin: 0 1.5rem;
      padding: .5rem;
      border-radius: 5px;
      font-size: 1.25rem;
    }

    a:hover{
      background-color: #2d5986;
    }
  }
}